---
---

<script>
  import { createChart } from "lightweight-charts";

  const chart = createChart(document.getElementById("chart"), {
    layout: {
      backgroundColor: "#860313",
      textColor: "#F48EA3",
    },
    grid: {
      vertLines: {
        visible: false,
      },
      horzLines: {
        color: "#F48EA3",
      },
    },
    rightPriceScale: {
      borderVisible: false,
    },
    timeScale: {
      borderVisible: false,
    },
    crosshair: {
      horzLine: {
        visible: false,
      },
    },
  });
  const lineSeries = chart.addLineSeries();
  lineSeries.setData([
    { time: "2019-04-11", value: 80.01 },
    { time: "2019-04-12", value: 96.63 },
    { time: "2019-04-13", value: 76.64 },
    { time: "2019-04-14", value: 81.89 },
    { time: "2019-04-15", value: 74.43 },
    { time: "2019-04-16", value: 80.01 },
    { time: "2019-04-17", value: 96.63 },
    { time: "2019-04-18", value: 76.64 },
    { time: "2019-04-19", value: 81.89 },
    { time: "2019-04-20", value: 74.43 },
  ]);
  lineSeries.applyOptions({
    color: "#eee5f7",
    lineWidth: 2,
  });
</script>

<div class="card w-3/5 shadow-xl">
  <div class="card-body">
    <div class="m-6 flex h-60 min-w-fit justify-center rounded-lg bg-snd">
      <div id="chart" class="h-10/12 w-10/12"></div>
    </div>
  </div>
</div>
