---
import Layout from "../../layouts/Layout.astro";

let title = "how it started";
let category = "personal";
let creation_date = "2021-10-13";
let slug = "posts/how-it-started";
---

<Layout title={title}>
  <div class="p-6 max-w-screen-md m-auto"># Hello World!</div>
</Layout>
