---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import PostsOverview from "../../components/blog/PostsOverview.svelte";

let title = "comming soon";
---

<Layout title={title}>
  <div class="my-12"><PostsOverview /></div>
</Layout>
