---
export const prerender = true;

import Layout from "@layouts/Layout.astro";

let title = "have a basic structure";
let category = "principles";
let creation_date = "2021-12-08";
let slug = "posts/principles/have-a-basic-structure";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-6">
    <div>
      While it might sound nice to have everything structured.<br />
      Have everything put into algorithms, systems, machines.<br />
      It is not easy to maintain all those machines.
      <br />
      I have had, for example, a complex redirection system of all my email adresses.
      <br /><br />
      If you are not able to forget about your system for months, come back and still
      be able to maintain it, it's a shitty system.
      <br /><br />
      Either it is very well documented, or basic enough but still valuable for you
      to easily use and change it.
    </div>
  </div>
</Layout>
