---
export const prerender = true;

import Layout from "@layouts/Layout.astro";

let title = "how it started";
let category = "personal";
let creation_date = "2021-10-13";
let slug = "posts/how-it-started";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-6"># Hello World!</div>
</Layout>
