---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="flex justify-center">
    <img
      class="rounded-full shadow-2xl"
      alt="redsummit"
      src="/redsummit_800x800.webp"
    />
  </div>
</Layout>
