---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
---

<Layout title="colors">
  <div class="grid grid-cols-1 justify-center text-4xl">
    <div class="bg-transparent">transparent</div>
    <div class="bg-white"><span class="text-black">white</span></div>
    <div class="bg-black">black</div>
    <div class="bg-mainred">mainred</div>
    <div class="bg-snd">snd</div>
    <div class="bg-dark">dark</div>
    <div class="bg-c1">c1</div>
    <div class="bg-c2">c2</div>
    <div class="bg-c3">c3</div>
    <div class="bg-c4">c4</div>
  </div>
</Layout>
