---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.svelte";
import LineBars from "../components/home/LineBars.svelte";
import PostsOverview from "../components/blog/PostsOverview.svelte";

import type { Session } from "@auth/core/types";
import { Auth, SignIn, SignOut } from "auth-astro/components";
import { authOpts } from "./api/auth/[...astroAuth]";

import { getSession } from "auth-astro";

let session = await getSession(Astro.request, authOpts);
---

<Layout title="redsummit">
  <Auth authOpts={authOpts}>
    <div>
      <Hero />
      <div class="my-12"><PostsOverview /></div>
      <LineBars />
    </div>
  </Auth>
</Layout>
