---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.svelte";
import LineBars from "../components/home/LineBars.svelte";
import PostsOverview from "../components/blog/PostsOverview.svelte";
---

<Layout title="redsummit">
  <div>
    <Hero />
    <div class="my-12"><PostsOverview /></div>
    <LineBars />
  </div>
</Layout>
