---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.svelte";
import LineBars from "../components/LineBars.svelte";
import PostsOverview from "../components/PostsOverview.svelte";
---

<Layout title="redsummit">
  <div>
    <Hero />
    <div class="my-24"><PostsOverview /></div>
    <LineBars />
  </div>
</Layout>
