---
import Layout from "@layouts/Layout.astro";

import NostrEventFeed from "@components/nostr/NostrEventFeed.svelte";

let title = "nostr";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-6">
    <NostrEventFeed client:only="svelte" />
  </div>
</Layout>
