---
export const prerender = true;

import { getWeeklyMedianPrices } from "../services/gcp-services/getAppartmentWeeklyMedianPrices.js";
import Layout from "../layouts/Layout.astro";

const data = await getWeeklyMedianPrices();
var entries = [];

entries = JSON.parse(data.body);
---

<Layout title="redsummit">
    <ul>
        {
            entries.map((item) => (
                <li>
                    {item.time} - {item.value}
                </li>
            ))
        }
    </ul>
</Layout>
