---
import { authOpts } from "../pages/api/auth/[...astroAuth]";
import { getSession } from "auth-astro";

let session = await getSession(Astro.request, authOpts);
---

<footer class="flex justify-between">
  <span class="text-white m-6">
    © {new Date().getFullYear()}
  </span>
  <nav>
    <ul class="flex space-x-4 m-6">
      <!--<li>
        <a href="/about" class="text-white hover:text-highlight">src</a>
      </li>-->
      <li>Logged in as {session?.user?.name}</li>
    </ul>
  </nav>
  <span class="text-white flex items-center m-2">
    
    <a href="mailto:hey@bartmann.xyz" class="btn btn-ghost">
      <div class="indicator">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
          ></path>
        </svg>
      </div>
    </a>
  </span>
</footer>
