---
import { authOpts } from "../pages/api/auth/[...astroAuth]";
import type { Session } from "@auth/core/types";
import { Auth, SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro";

let session = await getSession(Astro.request, authOpts);
---

<nav>
  <div class="navbar">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn-ghost btn lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="dropdown-content menu rounded-box menu-compact mt-3 w-52 bg-snd p-2 shadow"
        >
          <li><a href="/dashboards/overview">Dashboards</a></li>
          <li><a href="/projects/overview">Projects</a></li>
          <li><a href="/blog/overview">Blog</a></li>
        </ul>
      </div>
      <a class="flex" href="/">
        <img
          class="mr-4 h-8 shadow-xl"
          src="/profile_pic.png"
          alt="redSummit"
        />
        <span class="text-xl font-semibold tracking-tight text-white"
          >redSummit</span
        ></a
      >
    </div>

    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/dashboards/overview">Dashboards</a></li>
        <li><a href="/projects/overview">Projects</a></li>
        <li><a href="/blog/overview">Blog</a></li>
      </ul>
    </div>

    <div class="navbar-end">
      {
        session != null && (
          <SignOut class="btn hover:bg-snd mx-2 normal-case">Logout</SignOut>
        )
      }
      {
        session == null && (
          <SignIn class="btn mx-2 normal-case" provider="github">
            Login
          </SignIn>
        )
      }
    </div>
  </div>
</nav>
