---
import Layout from "@layouts/Layout.astro";

let title = "Building a custom nostr client";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-6">
    <div>
      <h1 class="text-4xl">Building a custom nostr client</h1>
    </div>
    This is <a class="text-link" href="/nostr-client">the final result</a>
  </div>
</Layout>
