---
export const prerender = true;

import Layout from "@layouts/Layout.astro";

let title = "Building a custom nostr client";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-6">
    <div>
      <h1 class="text-4xl">Building a custom nostr client</h1>
      <p class="my-4">lorem undso</p><p class="my-4">
        Have a look at the result: <a class="text-link" href="/">tbd.</a>
      </p>
    </div>
    <div></div>
  </div>
</Layout>
