---
export const prerender = true;

import Layout from "@layouts/Layout.astro";

import EventFeed from "@components/nostr/EventFeed.svelte";

let title = "Building a custom nostr client";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-6">
    <div>
      <h1 class="text-4xl">Building a custom nostr client</h1>
    </div>
    <EventFeed />
  </div>
</Layout>
