---
export const prerender = true;

import Layout from "@layouts/Layout.astro";

let title = "Projects";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-2">
    <!-- Median Appartment Prices -->
    <div class="card card-compact m-4 bg-white p-8 shadow-xl">
      <div class="card-body m-2 text-mainred">
        <h2 class="card-title text-3xl">
          Weekly median apartment prices in vienna
        </h2>
        <p>
          Crawled directly from apartment listings, twice a week. No filter,
          just the median.
        </p>
        <p class="text-xl">
          <strong>
            <a class="text-link" href="/projects/weekly-median-apartment-price">
              More details
            </a>
          </strong>
        </p>
      </div>
    </div>

    <!-- Nostr Client -->
    <div class="card-compact card m-4 bg-white p-8 shadow-xl">
      <div class="card-body m-2 text-mainred">
        <h2 class="card-title text-3xl">My custom nostr client</h2>
        <p>
          Curious about nostr, hating all existing clients... Since it's a very
          simple protocol why not built my own client?!
        </p>
        <p class="text-xl">
          <strong>
            <a class="text-link" href="/projects/building-nostr-client">
              More details
            </a>
          </strong>
        </p>
      </div>
    </div>
  </div>
</Layout>
