---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";

let title = "Projects";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-2">
    <div class="card-compact card bg-white shadow-xl">
      <div class="card-body m-2 text-mainred">
        <h2 class="card-title">Weekly median appartment prices in vienna</h2>
        <p>
          Crawled directly from appartment listings, twice a week. No filter,
          just the median.
        </p>
        <p>
          Visit <a
            class="text-link"
            href="/projects/weeklyMedianAppartmentPrice"
            >the project breakdown</a
          >.
        </p>
      </div>
    </div>
  </div>
</Layout>
