---
import Layout from "../../layouts/Layout.astro";
import WeeklyMedianApartmentPrice from "../../components/dashboards/WeeklyMedianApartmentPrice.svelte";

let title = "dashboard overview";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-2">
    <WeeklyMedianApartmentPrice client:only="svelte" />
  </div>
</Layout>
