---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import LineChart from "../../components/dashboards/LineChart.astro";

let title = "comming soon";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-6">
    comming soon
    <LineChart />
  </div>
</Layout>
