---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import LineChart from "../../components/dashboards/LineChart.astro";

let title = "Dashboards";

import { authOpts } from "../api/auth/[...astroAuth]";
import { getSession } from "auth-astro";
let session = await getSession(Astro.request, authOpts);
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-2">
    <LineChart />
  </div>
</Layout>