---
import Layout from "../../layouts/Layout.astro";
import LineChart from "../../components/dashboards/LineChart.astro";

let title = "comming soon";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-2">
    <LineChart />
  </div>
</Layout>
