---
import Layout from "../../layouts/Layout.astro";
import WeeklyMedianAppartmentPrice from "../../components/dashboards/WeeklyMedianAppartmentPrice.svelte";

let title = "dashboard overview";
---

<Layout title={title}>
  <div class="m-auto max-w-screen-md p-2">
    <WeeklyMedianAppartmentPrice client:only="svelte" />
  </div>
</Layout>
