---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="climbing the red mountain" />
    <title>{title}</title>
  </head>
  <body class="flex h-screen flex-col justify-between bg-mainred text-white">
    <Header />
    <main>
      <slot />
    </main>
    <div class="flex-grow"></div>
    <Footer />
  </body>
</html>
